<table>
  <!-- <thead>
    <tr>
      <td>Name</td>
      <td>tag</td>
    </tr>

  </thead> -->
  <!-- <tbody> -->
    <% @teams.each do |team|%>
      <tr>

        <td><h2> <%= link_to team.name, team %> </h2></td>
        <td><%= team.tag %></td>

      <!-- itterator for team.users.each do |player|-->
      </tr>

      <% team.users.each do |user| %>
        <tr>
          <td><h3> <%= link_to user.name, user_path(user) %> </h3></td>
        </tr>
      <% end %>
      <!-- <%= "@roster.class: #{@roster.class}" %> -->
    <% end %>
  <!-- </tbody> -->
</table>
