
<h1> <%= @team.name %> </h1>

<h2> <%= @team.tag %> </h2>

<h2> <%= @team.mission %> </h2>

<%= link_to 'back to index', teams_path %>
<br>
<a href="#">link for joining team, if user is logged in</a>
