<h1> <%= @user.name %> </h1>

<h2> <%= @user.image %> </h2>

<%= link_to 'teams index', teams_path %>
<hr>
<h2>Teams i own</h2>
<ul>
  <li>...</li>
</ul>
<hr>
<h2>Teams I'm apart of:</h2>
<% @user.teams.each do |team| %>
  <ul>
    <li><%= team.name %></li>
  </ul>
<% end %>
